* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Karla", sans-serif;
    height: 100vh;
    font-size: 16px;
}

.header{
    background-color: white;
    padding: 50px;
    height: 40%;
}

.one{
    color: rgb(29, 211, 211);
    margin-bottom: 15px;
    font-size: x-large;
}

.two{
    margin-bottom: 10px;
    color: rgb(197, 197, 84);
}

.three{
    color: dimgray;
    line-height: 1.7;
    font-weight: lighter;
}

#firstbox{
    background-color: rgb(37, 189, 189);
    width: 50%;
    padding: 40px;
    
}

#secondbox{
    background-color: rgb(57, 210, 215);
    width: 50%;
    padding: 50px;
}

.wrapper {
    display: flex;
    height: 60%;
}

li{
    list-style-type: none;
    line-height: 1.4;
}

.button {
    background-color: rgb(173, 232, 57);
    color: azure;
    margin: 30px;
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

span {
    font-size: medium;
    font-weight: lighter;
}
h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}
